<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBOKf9P0TkbCQPmscyeQfg77kdQlHqDOk</string>
	<key>GCM_SENDER_ID</key>
	<string>150489466060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Firebase-Tutorial</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-cb0f7</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-cb0f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150489466060:ios:66c468a63871f8e519ee69</string>
</dict>
</plist>